@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    margin-bottom: 65px;
}

footer {
    padding: 24px 0px;
    padding-left: 30px;
    padding-right: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-color: #97A6A0;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

a:hover {
    color: #93BFB7
}

a {
    text-decoration-line: none;
}

div {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

.small-caps-font {
    font-variant: small-caps slashed-zero;
}

header {
    background-color: #2D3E40;
}


.grid-pattern {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h1 {
    color: #2D3E40
}

.main-page {
    color: white
}

.h1-and-h3 {
    color: #387373
}

table tr:nth-child(even){
    background-color: #E5E5E5
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
}
